* {
    margin:0;
    padding: 0;
}

body {
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: rgb(140, 102, 148);
    font-family: 'Mali', cursive;
    color: whitesmoke;
}

/* Figi's Grooming text */

.container-one {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*Header*/
header {
    background: rgb(88, 82, 90);
    color: white;
    padding-top: 8px;
    margin: 0 auto;
    height: 120px;
    border-bottom: whitesmoke 2px solid;
}

header p {
    text-align: left;
    margin: 20px;
}

header .highlight {
    color: rgb(75, 204, 243);
    font-weight: bold;
}

.navbar {
    display: grid;
    justify-content: flex-end;
    width: 80%;
    margin: -30px;
    list-style: none;
    text-decoration: none;
}

.navbar a {
    display: grid;
    justify-items: flex-end;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
    padding: 0;
}

.navbar ul {
    margin: 10px;
    padding: 25px;
    display: grid;
    justify-items: self-end;
    text-decoration: none;
}


nav li {
    padding: 0 10px 0 10px;
}

nav a:hover {
    color: #d4eb83;
    font-weight: bold;
}

/* Middle Banner with image */

.container-two {
    width: 70%;
    height: 70%;
    border-radius: 40px;
    box-shadow: 0 0 12px 15px whitesmoke;
    display: flex;
    justify-items: center;
}

#showcase h1 {
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p {
    font-weight: bold;
    font-size: 20px;
}

/* container for booking */

#booking {
    display: flex;
    justify-items: center;
    flex-direction: row;
    background-color: rgb(235, 225, 235);
    color: black;
}

.animal_selector {
    display: flex;
    justify-items: center;
}

.container-three img {
    /* min-width: 320px;
    max-width: 1220px; */
    display: flex;
    background-color: none;
    width: 40px;
    height: 40px;
    padding: 3px;
    flex-direction: row;
}

h2 {
    display: grid;
    justify-items: flex-start;
}

h3 {
    display: grid;
    justify-items: flex-start;

}

.select-dates form {
    display: flex;
    flex-direction: row;
    padding: 3px;
    margin-left: 50px;
}

h3 {
    margin-left: 50px;
    padding:7px;
}
.button {
    height: 25px;
    display: grid;
    justify-content: center;
    background-color: rgb(165, 128, 165);
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
}
/* Boxes */
#boxes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#boxes .box {
    display: flex;
    justify-items: center;
    width: 30%;
    padding: 10px;
    text-align: center;
    text-justify: inter-word;
    color: white;
}

#boxes .box h3 {
    text-align: justify;
}

#boxes .box img {
    width: 310px;
    height: 320px;
    border-radius: 30px;
  

}

#social-media {
    color: #fff;
    line-height: 32px;
    margin-top: 10px;
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: #555;
}