body {
    max-width: 850px;
    margin: 0 auto;
}

.big-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.banner {
    width: 850px;
    height: 450px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/nasa-background.jpg");
    background-repeat: no-repeat;
}

h1 {
    font-weight: bold;
    color: white;
    font-size: 50px;
}


.main-container {
    display: flex;
    justify-content: space-between;
    width: 850px;
    height: 450px;

    
        
}
.flex  {
    width:850px;
    height:324px;
    background-color:rgb(179, 176, 176);
    font-family: sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

ul{
    list-style: none;
    padding: 0px;
}




 #flex box {
    display: flex;
    align-items: column;
    list-style: none;
    justify-content: center;
    flex-direction: column-reverse;
}
 
.location {
    display: flex;
    

}
#office {
    display: flex;
    flex-direction: column;
   


}