body{
    background-color: white;
    background-image: url('praying-mantis.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 900px;
    padding: 20px;
    margin: 10px
 }
 h1 {
     color: purple;
     font-family: monospace;
     text-align: left; 
     

}
 #abstract  {
    width: 530px;
    text-align: justify;
    margin: 40px;
    font-family: monospace;
    text-indent: 40px
     
    }

 h3 {
    float: inherit;
    text-align: center;
    font-family: monospace;
    letter-spacing: 10px

 } 

#content {
    height: 100px;
    width: 580px;
    font-family: monospace;
    padding-right: 800px;

    }



