body{
    background-color: black;
    background-image: url(/02week/bio/a.jpg);
    background-size: 200%;

    
    
  }
  .header {
   color:yellow;
   text-align: center;
   padding: 10px;
   font-family:'Audiowide', cursive;
   }
  .content p {
   width:800px;
   margin: 40px auto 0px auto;
   text-align: center;
   border: 0px;
   color: white;
   font-size: 20px;
   font-family:'Audiowide', cursive;
   }
  
  .navbar  {
   text-align: center;
   width: 100%;
   padding: 20px;
   background-size:cover;
   color: black;
   top: 5em;
   left: 3em;
   text-align: left;
   padding: 20px;
   font-size: 18px;
   font-family: 'Audiowide', cursive;
  
  }
  .navbar ul{
    width: 900px;
    margin: 0 auto;
    text-align:center;
    background-color:black;
    border-radius: 65px;
    
    
   
  }
  .navbar ul li{
  list-style:none;
  display: inline-block;
  padding: 10px;
  list-style: none;
  }
  .navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    text-transform: inherit;
    font-weight: 300px;
    color:orange;
    transition:background color 0.5 ease;
     
  }
  
  .navbar ul li a:hover {
  background-color: rgba(255,255,255, 0.3)
  }
  
  h2 {
    color: red;
    text-align: center;
    font-family: 'Audiowide', cursive;
   }
  .content p:nth-child(8) {
   color: green;
   font-weight: bold; 
   font-size: 20px;
  }
  .wrapper {
    text-align:center;
    }
  .button {
     padding: 0.1% 2%;
    font-family: 'Audiowide', cursive;
    text-align: center;
    padding-left: 2.5em;
    
  }
  
  
  